

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Scrollbar style*/
/* Vibrant Theme Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  /* background-color: #800000; Vibrant Maroon */
  background-color: #ccc; /* Light gray */
  border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover {
  background-color: #420202; /* Darker orange on hover */
}

::-webkit-scrollbar-track {
  /* background-color: #ffe0b2; Light orange track */
  background-color: #f9f9f9; /* Very light gray */
}

/* Scrollbar style ends */

/* Add this CSS to the global styles */
.bg-pattern-dots {
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
                    radial-gradient(circle, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
}
